@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #2a2a2a;
  color: aliceblue;
}

div{
  margin-top:-1px;
  padding: 0;
  height: 347px;
}

section>div{
   background: radial-gradient(circle, rgb(202, 164, 61) 0%, rgba(42,42,42,1) 100%); 
}

img {
  display: block;
  margin: auto;
  margin-top: 1px;
  width: 347px;
}

p {
  color: #2a2a2a;
  font-size: 30px;
  font-family: "Days One", sans-serif;
  text-align: center;
  margin-top: -120px;
  background: rgb(202, 164, 61);
  background: radial-gradient(circle, rgb(202, 164, 61) 0%, rgba(42,42,42,1) 100%);
}


#topBtn{
  position: fixed;
  bottom:40px;
  right:40px;
  width:50px;
  height:50px;
  font-size: 22px;
  background:rgb(202, 164, 61) ;
  border:none;
  cursor:pointer;
  color:#2a2a2a;
  border-radius: 12px;
}
#topBtn:hover{
  background:#494949;
  color:rgb(202, 164, 61);
  box-shadow:  5px 10px 10px rgba(0, 0, 0, 0.3) ;
}


@media screen and (max-width: 1024px) {
  img {
    width: 284px;
  }

  p {
    font-size: 25px;
    margin-top: -90px;
  }

  div {
    height: 280px;
  }
}

@media screen and (max-width: 748px) {
  img {
    width: 180px;
  }

  p {
    margin-top: -50px;
    font-size: 18px;
  }

  div {
    height: 190px;
  }
}
