body{
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
}


img{
    display: block;
    margin: auto;
    margin-top:120px;
    width:360px;
}

@media screen and (max-width: 1024px){
    img{
        width:284px;
    }
}

@media screen and (max-width:748px){
    img{
        width:180px;
    }
}